
@{
    ViewBag.Title = "Index";
}


<div id="view" class="container-md">
    Data is coming.....
</div>
<a class="btn btn-success ml-md-3 mt-1" id="btnAdd">Add</a>

@section Scripts
{
    <script>
        $(function () {
            $("#view").load("/Home/List");
        });
        $("#btnAdd").click(function () {
            $("#view").load("/Home/Add");
            $("#btnAdd").hide();
        });
        function Delete(id) {
            if (confirm('Are you sure?')) {
                $.ajax({
                    url: "/Api/People/" + id,
                    type: "Delete"
                }).done(function () {
                    $("#tr_" + id).addClass('table-danger');
                    $("#tr_" + id).hide('slow');
                });
            }
        }
        function Edit(id) {
            $("#view").load("/Home/Edit/" + id);
            $("#btnAdd").hide();
        }
    </script>
}
